<!DOCTYPE html>
<html>
  <head>
    <title>Client Portal</title>
    
  <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <% if current_user %>
  <p><%= link_to "Log out", logout_path %></p>
<% else %>

  <% end %>
      <%= yield %>
    </div>
  </body>
</html>